<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies Homepage</title>
</head>
<body>
  <h1>Welcome to the Movies Website!</h1>

  <ul>
    <li> <a href="/movies">Browse movies</a> </li>
    <li> <a href="/movie-new">Add a movie</a> </li>
  </ul>
</body>
</html>
