<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Movie</title>
</head>
<body>
  <form action="/api/movies/<%= movie.id %>/edit" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" value="<%= movie.title %>">

    <label for="title">Director</label>
    <input type="text" name="director" value="<%= movie.director %>">

    <input type="submit" value="Edit movie">
  </form>
</body>
</html>