<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Detail</title>
</head>
<body>
  <h1>Movie Information</h1>

  <h2>Title: <%= movie.title %></h2>
  <h3>Directed by: <%= movie.director %></h3>

  <a href="/">Go back to homepage</a>
  <a href="/movies">Go back to all Movies</a>
  <a href="/movies/<%= movie.id %>/edit">Edit Movie</a>
  <form action="/api/movies/<%= movie.id %>/delete" method="post">
    <input type="submit" value="Delete movie">
  </form>
</body>
</html>