<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies List</title>
</head>
<body>
  <ul>
    <li> <a href="/">Go back to homepage</a> </li>
  </ul>

  <h1>Movies</h1>

  <% for (movie of movies) { %>

    <p> <%= movie.title %>, directed by <%= movie.director %> </p>
    <p> <a href="/movies/<%= movie.id %>">Show movie</a> </p>
    <p> <a href="/movie-edit/<%= movie.id %>">Edit movie</a> </p>

  <% } %>

</body>
</html>