.todo-list {
  background-color: white;
  color: black;

  width: 400px;
  min-height: 300px;
  border-radius: 10px;
  padding: 0 30px;
}

.todo-list h2 {
  text-align: left;
}

.todo-list--input {
  display: flex;
}

ul {
  list-style-type: none;
}

ul li {
  background-color: gray;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

ul li span {
  margin-right: 12px;
  color: white;
}